@charset "UTF-8";


    @font-face {
        font-family: principal;
        src: url(fontes/bebasneueregular.ttf);
    }

    :root{

        --color1:#00547A;
        --color2:#19B6FF;
        --color3:#0088C7;
        --color4:#7A4300;
        --color5:#C76C00;

        --fontes-padrao: Arial,Verdana, Helvetica,sans-serif;
        --fontes-destaque: 'principal' , cursive

    }

    * {
        margin: 2px;
        padding: 0px;
    }


    .h1 {
        text-align: center;
        color: var(--color1);
        font-family: var(--fontes-destaque);
        font-size: 3em;
        text-shadow: rgba(255, 255, 255, 0.466) 2px 1px;
    }

    .h2 {
        background-image: linear-gradient(to right, #00547A, #19B6FF, #0088C7 );
        text-align: center;
        font-family: var(--fontes-destaque);
        color: var(--color5);
        font-size: 3em;
        margin: 10px;
        border: black solid 1px;
        text-shadow: rgba(0, 0, 0, 0.466) 2px 1px;
    }

    nav {

    }

    header {
        background-image: linear-gradient(to right, #19B6FF, #C76C00);
        text-align: center;
        
        margin: auto;
        
    }


    body {
        height: 98vh;
        background-color: var(--color2);
        margin: auto;
        max-width: 850;
        min-height: 1000;
    
    }
    
    
    main {
        background: black url('imagens/backgmain.jpg') center center no-repeat fixed;
        background-size: cover;
        background-color: var(--color2);
        margin: auto;
        max-width: 1000px;
        min-height: 1000px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .personagem1{
        background-color: var(--color1);
        max-width: 150px;
        min-height: 300px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        display: inline-block;
        
        
        
    }

    .personagem1:hover{
        background-color: var(--color2);
        align-self: flex-start;

    }

    .personagem2{
    
        background-color: var(--color1);
        max-width: 150px;
        min-height: 300px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        display: inline-block;

    }
    .personagem2:hover{
        background-color: var(--color2);
        align-self: flex-start;
    }
    .personagem3{
        background-color: var(--color1);
        max-width: 150px;
        min-height: 300px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        box-shadow: black 0px 0px 0px;
        display: inline-block;

    }

    .personagem3:hover{
        background-color: var(--color2);
        align-self: flex-start;
    }

    .personagem4{
        background-color: var(--color1);
        max-width: 150px;
        min-height: 300px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        
        display: inline-block;
    
    }

    .personagem4:hover{
        background-color: var(--color2);
        align-self: flex-start;
    }

    .personagem5{
        background-color: var(--color1);
        max-width: 150px;
        min-height: 300px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        
        display: inline-block;
    
    }

    .personagem5:hover{
        background-color: var(--color2);
        align-self: flex-start;
    }

    .personagem6{
        display: inline-block;
        background-color: var(--color1);
        max-width: 150px;
        min-height: 300px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        
    
    }

    .personagem6:hover{
        background-color: var(--color2);
        align-self: flex-start;
    }



    .divp{
       background-color: #fbfeff00;
       padding: 0px;
       
       max-width: 730px;
       min-height: 250px;
       margin: auto;
    }

    .divp1{
        
        max-width: 450px;
        padding: 0px;
       
        margin: auto;
    }

    div > h2 {
        font-family: principal;
        text-align: center;
        color: var(--color5);
    }

    div > img {
        max-width: 80px;
        min-height: 50px;
        margin: 0px 50px;
    }

    div > p {
        text-align: center;
        color: var(--color5);
        text-indent: 5px;
        

    }


    .center {
        font-family: principal;
        text-align: center;
        color: var(--color5);
        
    }

    .imgcenter{
        max-width: 90px;
        min-height: 90px;
        margin: auto;
    }

    div > p {
        text-align: center;
        color: var(--color5);
        text-indent: 5px;
    }